<div id="main_grid" (click)="clickEvent($event)">

    <div id="document_main_flex">
        <div id="document_grid">
            <form
                [id]="isEditMode ? 'document_edit_form_grid' : 'document_form_grid'" 
                [formGroup]="documentForm" 
                (ngSubmit)="saveDocumentToServer($event)"
                >
                <!-- 타이틀 -->
                <div id="document_title_article">
                    <div 
                        id="document_title_div"
                        *ngIf="isEditMode === false"
                        >
                        <h2>{{ documentInfo?.title }}</h2>
                    </div>
                    <div
                        id="document_title_edit_div"
                        *ngIf="isEditMode === true"
                        >
                        <input 
                            type="text" 
                            placeholder="title.."
                            [value]="documentInfo?.title"
                            [formControlName]="'title'"
                            >
                    </div>
                </div>

                <!-- 작성 시간 -->
                <div id="document_time_div">
                    <i class="material-icons" style="font-size: 12px;">access_time</i>
                    {{ documentInfo?.createdTime }}
                </div>

                <!-- 지금은 빈 공간 -->
                <div></div>

                <!-- 문서 컨트롤 버튼 -->
                <div id="documentControlButtonsDiv">
                    <div *ngIf="canUserControlDocument">
                        <button 
                            id="edit"
                            type="button"
                            (click)="changeEditMode($event)"
                            >
                            글 수정
                        </button> 
                        <button 
                            id="delete"
                            type="button"
                            (click)="deleteDocument($event)"
                            >글 삭제
                        </button>
                    </div>
                </div>

                <!-- 문서 내용 -->
                <div id="document_text_article">
                    <div 
                        id="document_text_div"
                        *ngIf="isEditMode === false"
                        >
                        {{ documentInfo?.text }}
                    </div>

                    <div
                        id="document_text_input_div"
                        *ngIf="isEditMode === true"
                        >
                        <textarea 
                            [value]="documentInfo?.text"
                            [formControlName]="'text'"
                            ></textarea>
                    </div>
                </div>

                <!-- 문서 수정 내용 저장 버튼. isEditMode가 true일때만 나타납니다. -->
                <div 
                    id="document_edit_button_div" 
                    *ngIf="isEditMode === true"
                    >
                    <div id="button_grid">
                        <div id="save_button">
                            <button 
                                type="submit" 
                                (click)="$event.stopPropagation();"
                                >
                                저장
                            </button>
                        </div>
                        <div id="cancel_button">
                            <button 
                                type="button"
                                (click)="cancelSavingDocument($event)"    
                                >
                                취소
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 태그리스트 -->
            <div id="document_taglist_article">
                <app-tags 
                    [tagList]="documentInfo?.tagList"
                    (insert)="sendNewTag($event)"
                    (remove)="removeTagArticle($event)"
                    ></app-tags>
            </div>

            <!-- 기타 기능 버튼들 -->
            <div id="document_function_button_article">
                <i class="material-icons" style="font-size: 1rem; color:steelblue;">thumb_up</i>
                {{ documentInfo?.thumbUp?.length }} 
                <button type="button">스크랩</button> 
            </div>

            <!-- 시그니처 -->
            <div id="document_signature_article">
                <app-signature [userInfo]="documentInfo.userInfo"></app-signature>
            </div>

            <!-- 댓글 리스트 -->
            <div id="document_reply_article">
                <app-reply-list></app-reply-list>
            </div>

        </div>
    </div>
</div>

<div id="modal" *ngIf="isModalOpen">
    <div id="mainDiv">
        <div id="icon"><i class="material-icons">error_outline</i></div>
        <div id="text">{{ modalComment }}</div>
        <div id="buttons"><button (click)="modalFunction($event)">확인</button></div>
    </div>
</div>
