@import '../../../styles';

#mainDiv {
    width: 100%;
    height: calc(100% - 2rem);
}

#document_grid {
    background-color: white;
    @include setPadding(2rem, 1rem, 2rem, 0px);
    width: 900px;
    margin: 0 auto;
}

#documentDiv {
  width: 100%;

  #document_title_article {
    align-self: center;
    width: 100%;

    div {
        text-align: center;
    }

    #document_title_div {
    }
  }

  #TimeGrid {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: 2rem;

    #document_time_div {
      font-size: 12px;
      align-self: center;
    }
  
    #documentControlButtonsDiv {
      font-size: 12px;
      text-align: right;
      align-self: center;
      button {
        border: none;
        background-color: white;
        cursor: pointer;
      }
  
      #edit {
        &:hover {
          color: yellowgreen;
        }
      }
  
      #delete {
        &:hover {
          color: tomato;
        }
      }
    }
  }

  #documentTextArticle {
    width: 100%;
    height: auto;

    #documentTextDiv {
        min-height: 12rem;
        // width: 700px;
        // overflow: auto;
    }
  }

}

#documentTaglistArticle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#documentFunctionButtonArticle {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

  #thumbUpDiv {
    display: flex;
    align-items: center;
    font-size: 0.8rem;

    i {
      cursor: pointer;
      font-size: 1rem;
      color: steelblue;
      margin-right: 0.6rem;
    }
  }

  #scrapDiv {
    margin-left: 1rem;
    margin-right: 1rem;
    button {
      cursor: pointer;
      border: none;
      background-color: white;

      &:hover {
        color: yellowgreen;
      }
    }
  }
}

#documentSignatureArticle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#documentReplyArticle {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#modal {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(#000000, 0.5);
  z-index: 3;

  #mainDiv {
    display: grid;
    grid-template-rows: 6rem auto 2rem;
    grid-gap: 1rem;

    border: none;
    border-radius: 4px;
    background-color: white;
    height: 16rem;
    width: 18rem;
    // text-align: center;

    #icon {
      text-align: center;
      margin-top: 1rem;
      i {
        font-size: 6rem;
      }
    }

    #text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: center;
    }

    #buttons {
      margin-right: 1rem;
      text-align: right;
      button {
        cursor: pointer;
        border: none;
        background-color: white;
        font-size: 1rem;

        &:hover {
          color: yellowgreen;
        }
      }
    }
  }
}


// 미디어 쿼리
@media (max-width: $g_mediaMiddle - 1px) {
    #document_main_flex {
        display: block !important;
    }
    #document_grid {
        width: 100% !important;
        @include setPadding(0px, 0px, 0px, 0px);
    }
}

@media (min-width: $g_mediaMiddle) and (max-width: $g_mediaTablet - 1px) {
    #document_main_flex {
        display: block !important;
    }
    #document_grid {
        width: 100% !important;
        // @include setPadding(0px, 0px, 0px, 0px);
    }
}

@media (min-width: $g_mediaTablet) and (max-width: $g_mediaLaptop - 1px) {
    #document_main_flex {
        display: block !important;
    }
    #document_grid {
        width: 100% !important;
        // @include setPadding(0px, 0px, 0px, 0px);
    }
}

@media (min-width: $g_mediaLaptop) {

}

@media (min-width: $g_mediaDesktop) {

}

@media (min-width: $g_mediaDoubleTablet) {
    // #main-form-grid-div {
    //     width: 1536px !important;
    // }
}