<div id="mainDiv">
  <div id="document_grid">
    <div id="documentDiv">

      <!-- 타이틀 -->
      <div id="document_title_article">
        <div id="document_title_div">
          <h2>{{ documentInfo?.title }}</h2>
        </div>
      </div>

      <div id="TimeGrid">
        <!-- 작성 시간 -->
        <div id="document_time_div">
          <i class="material-icons" style="font-size: 12px;">access_time</i>
          {{ changeTimeString(documentInfo?.createdTime, true) }}
        </div>
  
        <!-- 지금은 빈 공간 -->
        <div></div>
  
        <!-- 문서 컨트롤 버튼 -->
        <div id="documentControlButtonsDiv">
          <div *ngIf="canUserControlDocument">
            <button 
              id="edit"
              type="button"
              (click)="changeEditMode($event)"
              >
              글 수정
            </button> 
            <button 
              id="delete"
              type="button"
              (click)="showDeleteModal($event)"
              >글 삭제
            </button>
          </div>
        </div>
      </div>

      <!-- 문서 내용 -->
      <div id="documentTextArticle">
        <span #target id="documentTextDiv">
          <!-- {{ documentInfo?.text }} -->
        </span>
      </div>
    </div>

    <!-- 태그리스트 -->
    <div id="documentTaglistArticle">
      <app-tags 
        [tagList]="documentInfo?.tagList"
        (insert)="sendNewTag($event)"
        (remove)="removeTagArticle($event)"
        ></app-tags>
    </div>

    <!-- 기타 기능 버튼들 -->
    <div id="documentFunctionButtonArticle">
      <div id="thumbUpDiv">
        <i class="material-icons" 
          (click)="thumbUp($event)">
          thumb_up
        </i>
        {{ thumbUpCount }} 
      </div>
      <div id="scrapDiv">
        <button 
          type="button" 
          (click)="scrap($event)">
          스크랩
        </button> 
      </div>
    </div>

    <!-- 시그니처 -->
    <div id="documentSignatureArticle">
      <app-signature [userInfo]="documentInfo.userInfo"></app-signature>
    </div>

    <!-- 댓글 리스트 -->
    <div id="documentReplyArticle">
      <app-reply-list></app-reply-list>
    </div>

  </div>
</div>

<!-- 다용도 모달 -->
<div id="modal" *ngIf="publicModal.isModalOpen">
  <div id="mainDiv">
    <div id="icon"><i class="material-icons">error_outline</i></div>
    <div id="text">{{ publicModal.comment }}</div>
    <div id="buttons">
      <div id="left"
        *ngIf="publicModal.leftBtnTitle !== undefined"
        >
        <button (click)="publicModal.leftBtn($event)">
          {{ publicModal.leftBtnTitle }}
        </button>
      </div>
      <div id="right"
        *ngIf="publicModal.rightBtnTitle !== undefined"
        >
        <button (click)="publicModal.rightBtn($event)">
          {{ publicModal.rightBtnTitle }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- 스크랩 리스트 모달 -->
<app-scrap-modal 
  [on]="isScrapModalOpen" 
  [document]="documentInfo"
  (exit)="isScrapModalOpen = false;"
  >
</app-scrap-modal>