@import '../../../styles';

#main_grid {
    display: grid;
    grid-template-rows: 2rem auto;
    height: 100%;
    widows: 100%;
}

#titlebar_div {
}

#document_main_flex {
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

#document_form_grid {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: 3rem 2rem minmax(min-content, max-content);
}

#document_edit_form_grid {
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: 3rem 2rem minmax(min-content, max-content);
}

#document_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content max-content max-content max-content;
    width: 900px;
    background-color: white;
    grid-row-gap: 1rem;
    @include setPadding(2rem, 0px, 2rem, 0px);
}

#document_title_article {
    grid-column: 1 / 4;
    align-self: center;

    div {
        text-align: center;
    }

    #document_title_div {
    }

    #document_title_edit_div {

        input[type=text] {
            border: none;
            border-bottom: 2px solid #4d4d4d;
            // width: 30rem;
            width: 4rem;
            height: 2.5rem;
            font-size: 2rem;
        }
    }
}

#document_time_div {
    font-size: 12px;
    align-self: center;
}

#document_ip_div {
    font-size: 12px;
    text-align: right;
    align-self: center;
}

#document_text_article {
    grid-column: 1 / 4;

    #document_text_div {
        grid-column: 1 / 4;
        min-height: 12rem;
    }

    #document_text_input_div {

        textarea {
            width: 100%;
            height: 30rem;
            resize: none;
        }
    }
}

#document_edit_button_div {
    grid-column: 1 / 4;
    @include setPadding(2rem, 0px, 2rem, 0px);

    #button_grid {
        display: grid;
        grid-template-columns: auto max-content;
        grid-column-gap: 1rem;

        #save_button {
            text-align: right;
            button {
                @include setPadding(3rem, 0.4rem, 3rem, 0.4rem);
                border: none;
                background-color: cornflowerblue;
            }
        }

        #cancel_button {
            button {
                @include setPadding(1rem, 0.4rem, 1rem, 0.4rem);
                border: none;
                background-color: brown;
            }
        }
    }
}

#document_taglist_article {
}

#document_function_button_article {
    text-align: center;
}

#document_signature_article {
}

#document_reply_article {
}

// 미디어 쿼리
@media (max-width: $g_mediaMiddle - 1px) {
    #document_main_flex {
        display: block !important;
    }
    #document_grid {
        width: 100% !important;
        @include setPadding(0px, 0px, 0px, 0px);
    }
}

@media (min-width: $g_mediaMiddle) and (max-width: $g_mediaTablet - 1px) {
    #document_main_flex {
        display: block !important;
    }
    #document_grid {
        width: 100% !important;
        // @include setPadding(0px, 0px, 0px, 0px);
    }
}

@media (min-width: $g_mediaTablet) and (max-width: $g_mediaLaptop - 1px) {
    #document_main_flex {
        display: block !important;
    }
    #document_grid {
        width: 100% !important;
        // @include setPadding(0px, 0px, 0px, 0px);
    }
}

@media (min-width: $g_mediaLaptop) {

}

@media (min-width: $g_mediaDesktop) {

}

@media (min-width: $g_mediaDoubleTablet) {
    // #main-form-grid-div {
    //     width: 1536px !important;
    // }
}