#menuGrid {
	display: grid;
	grid-template-columns: 3rem auto 4rem;
	grid-template-rows: 4rem 2rem;

	border: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: darkolivegreen;
	padding: 1rem;

	#title {
    	grid-column: 1 / 4;
	}

	#new {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			color: white;
		}
	}

	#select {
		select {
			width: 100%;
			height: 2rem;
			border: none;
			background-color: darkolivegreen;
		}
	}

	#delete {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:hover {
			color: white;
		}
	}
}

#tree {
	padding: 1rem;

	input {
		width: 6rem;
		border: none;
		border-bottom: 1px solid #4d4d4d;
	}

	.root {
		.title {
			
		}
		.tag {
			float: right;
		}

		.grade2 {
			margin-left: 1rem;
			input {
				border-bottom: 1px solid yellowgreen;
			}
	
			.grade3 {
				margin-left: 1rem;
				input {
					border-bottom: 1px solid tomato;
				}
			}

			.grid {
				display: grid;
				grid-template-columns: 1rem 6rem auto 6rem;
				grid-template-rows: 2rem;
			}
		}

		.selector {
			cursor: pointer;
			&:hover {
				background-color: tomato;
				color: white;
			}
		}
	}


}

#buttons {
	display: grid;
	grid-template-columns:  50% 50%;

	padding: 1rem;

	button {
		border: none;
		background-color: white;
		cursor: pointer;
	}

  	#ok {

		#btn {
			cursor: pointer;
			&:hover {
				color: yellowgreen;
			}
		}
  	}

  	#cancel {
		  justify-self: end;

		  #btn {
			  cursor: pointer;
			&:hover {
				color: tomato;
			}
		  }
  	}
}