#main_grid {
  display: grid;
  grid-template-columns: auto 2rem 2rem 2rem 5rem;
  grid-template-rows: 2rem max-content max-content;
}

#rereply_main_grid {
  display: grid;
  grid-template-columns: 1rem auto 2rem 2rem 2rem 5rem;
  grid-template-rows: 2rem max-content max-content;
  align-items: center;
  // background-color: yellowgreen;
}

#rereply_icon {
  // height: 2rem;
  // width: 1rem;
  i {
    font-size: 1rem;
  }
}

#nick_name {
  display: flex;
  align-items: center;
  height: 2rem;
  i {
    font-size: 1rem;
  }
}

#modify {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  &:hover {
    color: yellowgreen;
  }
}

#remove {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  &:hover {
    color: yellowgreen;
  }
}

#write_comment {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  &:hover {
    color: yellowgreen;
  }
}

#created_time {
  display: flex;
  align-items: center;
  // justify-content: center;
  height: 2rem;
  text-align: center;
  font-size: 0.8rem;
  i {
    font-size: 0.8rem;
  }
}

#text {
  grid-column: 1 / 5;
  
  #textPrint {
  }
}

#rereplyText {
  grid-column: 2 / 5;
  
  #text {
    #parentUserId {
      display: inline-block;
      color: tomato;
    }
  }
}

// 리플과 리리플의 수정 화면은 같으므로..
#textEdit {
  
  #textarea {
    textarea {
      width: 100%;
      height: 7rem;
    }
  }

  #buttons {
    display: flex;
    justify-content: flex-end;

    button {
      cursor: pointer;
      border: none;
      background-color: white;
      margin-left: 1rem;
    }
  }
}

#comment {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 0px;
  overflow: hidden;
  transition-duration: 0.3s;
}

#rereply_comment {
  grid-column-start: 2;
  grid-column-end: 5;
  height: 0px;
  overflow: hidden;
  transition-duration: 0.3s;
}

.show_comment {
  height: 9rem !important;
  #textarea {
    height: calc(100% - 2rem);
    width: 100%;
    textarea {
      width: 100%;
      height: 100%;
      resize: none;
    }
  }
  #buttons {
    height: 2rem;
    width: 100%;
    text-align: right;
    button[type=submit] {
      border: none;
      background-color: white;
      color: yellowgreen;
      cursor: pointer;
      &:hover {
        color: olivedrab;
      }
    }
    button[type=reset] {
      border: none;
      background-color: white;
      color: crimson;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}

@mixin reply_comment_form {
  height: 9rem !important;
  width: 100%;
}

#reply_comment_form {
  @include reply_comment_form;
}

#rereply_comment_form {
  @include reply_comment_form;
}
