@import '../../../styles';

$article-width: 80%;

#main-div {
    width: 100%;
    height: 100%;

    #titlebar-div {
        // grid-column: 1 / 4;
    }

    #list-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        #document-article {
            width: $article-width;
            border: 0px solid white;
            border-radius: 5px;
            background-color: white;
            height: max-content;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem;
        }

        #pagination {

        }
    }

}


// #main_grid {
//     display: grid;
//     grid-template-columns: auto 900px auto;
//     grid-template-rows: 2rem auto max-content;
//     height: 100%;
//     width: 100%;

//     #titlebar_div {
//         grid-column: 1 / 4;
//     }

//     #document_article {
//         border: 0px solid white;
//         border-radius: 5px;
//         background-color: white;
//         height: max-content;
//         width: 100%;
//         margin-top: 1rem;
//         margin-bottom: 1rem;
//         padding: 1rem;
//     }

//     #pagination {
        
//     }
// }