@import '../../../styles';

$article-width: 80%;

#mainDiv {
    display: grid;
    grid-template-rows: auto;

    width: 100%;
    height: calc(100% - 2rem);

    #listFlex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        #documentArticle {
            width: $article-width;
            border: 0px solid white;
            border-radius: 5px;
            background-color: white;
            height: max-content;
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem;
        }

        #pagination {

        }
    }

    #noResult {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;
        // background-color: white;

        #alert {
            display: grid;
            grid-template-rows: 6rem max-content;

            border: 1px solid #e6e6e6;
            border-radius: 5px;
            background-color: white;
            width: 18rem;
            
            #icon {
                margin: 1rem;
                text-align: center;
                i {
                    font-size: 6rem;
                }
            }

            #text {
                margin: 1rem;
                margin-top: 3em;
                text-align: center;

            }
            
        }
    }

}




// #main_grid {
//     display: grid;
//     grid-template-columns: auto 900px auto;
//     grid-template-rows: 2rem auto max-content;
//     height: 100%;
//     width: 100%;

//     #titlebar_div {
//         grid-column: 1 / 4;
//     }

//     #document_article {
//         border: 0px solid white;
//         border-radius: 5px;
//         background-color: white;
//         height: max-content;
//         width: 100%;
//         margin-top: 1rem;
//         margin-bottom: 1rem;
//         padding: 1rem;
//     }

//     #pagination {
        
//     }
// }