<div id="main_grid">
    <div id="titlebar_div">
        <app-titlebar></app-titlebar>
    </div>

    <div></div>
    <div>
        <div id="document_article" *ngFor="let doc of docuList">
            <app-document-list-article [document]="doc"></app-document-list-article>
        </div>
    </div>
    <div></div>

    <div></div>
    <div id="pagination">
        <app-pagination
            [cursor]="4"
            [totalArticle]="101"
            [perPage]="10"
            (output)="clickedPagination($event)"
            >
        </app-pagination>
    </div>
    <div></div>
</div>