<div id="mainDiv">
    <div id="titlebarDiv">
        <app-titlebar></app-titlebar>
    </div>

    <div *ngIf="isNoResult === false">
        <div id="listFlex">
            <div id="documentArticle" *ngFor="let doc of docuList">
                <app-document-list-article [document]="doc"></app-document-list-article>
            </div>
        </div>
    
        <div id="pagination">
            <app-pagination
                [cursor]="4"
                [totalArticle]="101"
                [perPage]="10"
                (output)="clickedPagination($event)"
                >
            </app-pagination>
        </div>
    </div>

    <div id="noResult" *ngIf="isNoResult === true">
        <div id="alert">
            <div id="icon">
                <i class="material-icons">announcement</i>
            </div>
            <div id="text">
                검색 결과가 없습니다.
            </div>
        </div>
    </div>
</div>
