@import '../../../styles';

#main_grid {
    display: grid;
    grid-template-columns: auto 900 auto;
    grid-template-rows: 2rem auto;
    height: 100%;
    width: 100%;

    #titlebar_div {
        grid-column: 1 / 4;
    }
}