@import '../../../styles';

form {
    height: 100%;
}

#main_grid {
    display: grid;
    grid-template-columns: auto 768px auto; // 768px 이후 사이즈부터는 minmax(768px 1600px)로..
    grid-template-rows: 2rem 3rem auto 2rem;
    height: 100%;
    width: 100%;

    #titlebar_div {
        grid-column: 1 / 4;
    }
    
    #title {
        background-color: white;
        text-align: center;
        input {
            border: none;
            border-bottom: 2px solid #4d4d4d;
            height: 2.5rem;
            font-size: 1.6rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    #buttons {
        background-color: white;
        #ok {
            float: left;
            cursor: pointer;
            background-color: white;
            button[type=submit] {
                border: none;
                font-weight: bold;
                color: #4d4d4d;
                cursor: pointer;
                background-color: white;
            }
        }
        #show_preview {
            float: left;
        }
        #cancel {
            float: right;
            cursor: pointer;
            background-color: white;
            button[type=button] {
                border: none;
                font-weight: bold;
                color: tomato;
                cursor: pointer;
                background-color: white;
            }
        }
    }
}

#text_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;

    #edit {
        grid-column: 1 / 3;
        background-color: #4d4d4d;
        color: #e6e6e6;
        textarea {
            border: none;
            background-color: #4d4d4d;
            color: #e6e6e6;
            resize: none;
            width: 100%;
            height: 100%;
        }
    }
    .edit_cut {
        grid-column: 1 !important;
    }
    #preview {
        display: none;
        background-color: white;
        pre {
            margin: 0px;
        }
    }
    .show_preview {
        display: block !important;
    }
}