<div id="main-div">
    
  <div id="main-flex">
    <form 
      id="main-form-grid-div"
      [formGroup]="textForm" 
      (ngSubmit)="changeDocOptionModalState($event)"
      >
      <!-- 타이틀 -->
      <div id="title">
        <input 
          type="text"
          [formControlName]="'title'" 
          placeholder="제목.."
          >
      </div>
      <!-- 본문 -->
      <div id="text-grid">
        <div 
          id="edit" 
          [ngClass]="{ edit_div: isPreviewMode, edit_no_div: !isPreviewMode }">
          <textarea
            [formControlName]="'text'"
            (keyup)="copyTextToPreview($event)"
            ></textarea>
        </div>
          
        <div id="preview" [ngClass]="{ show_preview: isPreviewMode }">
          <div #target id="target"></div>
        </div>
      </div>
      <!-- 버튼들 -->
      <div id="buttons">
        <div id="ok">
          <button type="submit" (click)="stopBubbling($event)"
            >
            저장
          </button>
        </div>
      
        <div id="show-preview">
          <button 
            type="button"
            (click)="changePreviewMode($event)"
            >
            프리뷰 보기
          </button>
        </div>
      
        <div id="cancel">
          <button type="button" (click)="cancelBtn($event)">
            취소
          </button>
        </div>
      </div>

    </form>
  </div>

</div>

<app-document-option-modal 
  [on]="isDocumentOptionModalOpen"
  [document]="documentInfo"
  (ok)="saveDocumentAndCloseModal($event)"
  (exit)="changeDocOptionModalState(undefined)">
</app-document-option-modal>
