@import '../../../styles';

#main_grid {
    display: grid;
    grid-template-rows: 2rem auto;
    grid-template-columns: 800px 300px auto;
    height: 100%;
    width: 100%;
}

#titlebar_div {
    grid-column: 1 / 4;
}

#main_div {

}

#login_div {
    align-self: center;
}

#empty_div {

}