@import '../../../styles';

#mainDiv {
    width: 900px;
    margin: 0px auto 0px auto;
    background-color: white;

    #firstDiv {
        display: grid;
        grid-template-columns: auto 300px;

        #notice {
            grid-column: 1 / 2;
        }
    
        #loginDiv {
            grid-column: 2 / 3;
            margin-top: 10%;
            width: 300px;
            height: max-content;
        }
    }
}

#main_div {

}


// 미디어 쿼리
@media (max-width: $g_mediaMiddle - 1px) {
    #mainDiv {
        width: 100%;
        #firstDiv {
            display: block;
            #loginDiv {
                margin: 0px;
                width: 100%;
            }
        }
    }
}

@media (min-width: $g_mediaMiddle) and (max-width: $g_mediaTablet - 1px) {
    #mainDiv {
        width: 100%;
    }
}

@media (min-width: $g_mediaTablet) {
    #mainDiv {
        width: 100%;
    }
}

@media (min-width: $g_mediaLaptop) {
    #mainDiv {
        width: 900px;
    }
}

// @media (min-width: $g_mediaDesktop) {

// }