<div
    id="menu_div"
    onselectstart="return false"
    (click)="changeMenuState($event)"
    >
    <i class="material-icons">menu</i>
</div>

<!-- 화면에서 숨겨지는 메뉴 내용이에요. -->
<div
    id="menu_detail"
    [ngClass]="{ show_menu: !isMenuHidden }"
    >

    <div id="menu_detail_grid">
        <div style="width: 20rem;">
            메뉴내용이다<br><br><br><br><br><br><br><br><br><br>
        </div>

        <div></div>

        <div>
            <button type="button" id="button">글 작성</button>
        </div>
    </div>

</div>
    <!-- <div *ngIf="isMenuHidden === false" id="menu_detail">
        메뉴내용이다<br><br><br><br><br><br><br><br><br><br>

        <div>
            <button id="button">글 작성</button>
        </div>
    </div> -->
