<div id="main_grid" class="">
  <div id="menuDiv">
    <app-titlebar-menu></app-titlebar-menu>
  </div>

  <div></div>

  <div style="display: flex; align-items: center; justify-content: center;">
    <span>Project Cheat</span>
  </div>

  <div>
    <div id="searchButton" (click)="changeSearchBarState($event)">
      <i class="material-icons" *ngIf="isSearchBarOpen === false">search</i>
      <i class="material-icons" *ngIf="isSearchBarOpen === true">close</i>
    </div>
  </div>

  <div id="accountDiv"
    onselectstart="return false"
    >
    <div [routerLink]="['/profileDetail']">
      <i class="material-icons">account_circle</i>
    </div>
  </div>

  <!-- 툴바 아래에 숨겨져 있는 검색 바 -->
  <div id="searchBarDiv" 
    [ngClass]="{ searchBarOpen: isSearchBarOpen, searchBarClose: !isSearchBarOpen }"
    >

    <div id="searchBox">
      <input #searchBox type="text" placeholder="Search here..">
    </div>

    <div id="language">
      <select name="test" (change)="changedLanguage($event)">
        <option [value]="ALL_CATEGORY">검색언어</option>
        <option *ngFor="let category of categoryList" [value]="category?.tag">
          {{ category?.title }}
        </option>
      </select>
    </div>

    <div id="searchIcon" 
      (click)="searchDocument($event)"
      >
      <i class="material-icons">search</i>
    </div>
  </div>
</div>